body {
  background-color: black;
}

.header-main {
  color: yellow;
  text-align: center;
  margin-top: 100px;
}

.post-1 {
  color: black;
  background-color: white;
  padding: 20px;
  text-align: center;
}
